<div class="cyber-br"> 

    <div class="cyber-br001">
    </div>
    <svg width="10" height="11" viewBox="0 0 10 11" fill="none" xmlns="http://www.w3.org/2000/svg">
        <path d="M9 9.75L1 1.75" />
        </svg>
        

    <div class="cyber-br002">
    </div>
    <div class="cyber-br002">
    </div>

  <div class="cyber-br_block">
  </div>

    <div class="cyber-br001">
    </div>
    <svg width="10" height="11" viewBox="0 0 10 11" fill="none" xmlns="http://www.w3.org/2000/svg">
        <path d="M9 9.75L1 1.75" />
        </svg>
        
        

    <div class="cyber-br002">
    </div>
    <div class="cyber-br002">
    </div>

  </div>