<!-- <button type="button" class="open-overlay">OPEN LAYER</button> -->

<section class="overlay" aria-hidden="true" tabindex="-1">
	<div>
		<!-- Credits -->
		<div class="outer-wrapper"  >
			<div class="wrapper">
				<div class="person_name">

					<h4>Founding Team</h4>
					<p> Medii ⊹ Speculations

					<h4>Dev Team Lead</h4>
					<p> Medii

					<h4>3D Environment Design</h4>
					<p> Miko ⊹ WispyWoo ⊹ Artsy Glitch

					<h4>3D Asset Design</h4>
					<p> moot ⊹ Khloe ⊹ Artsy Glitch

					<h4>Scripters/coders</h4>
					<p> vroku ⊹ Lavy ⊹ Tap ⊹ Flakedlotus ⊹ Fives

					<h4>Creative Director</h4>
					<p> meowmilk.

					<h4>Art Director</h4>
					<p> Propaganda

					<h4>Senior Designers</h4>
					<p> Miko ⊹ Juuoto ⊹ Soap ⊹ Feather

					<h4>Marketing Manager</h4>
					<p> Yuki

					<h4>Instagram Manager</h4>
					<p> Cheebzy

					<h4>Twitch Manager</h4>
					<p> Flakedlotus

					<h4>Youtube Manager</h4>
					<p> Medii

					<h4>Twitter Engagement/Events Manager</h4>
					<p> Figolo

					<h4>Operations</h4>
					<p> Shuubie ⊹ Medii ⊹ Soap ⊹ Feather ⊹ Yuki ⊹ Juuoto ⊹ Figolo ⊹ Speculations ⊹ JDJ ⊹ Hopeofhell ⊹
						StampedinTurtl

					<h4>Booking</h4>
					<p> Enderstick (EU) ⊹ Feather (JP) ⊹ Miko (SA)

<h4>Site made with 🤍 by</h4>
<p>meowmilk. ⊹ wasntcat

						<h4>Special Thanks</h4>
						<p> catmelt



							<br><br>
				<br><br>
					<p> And most importantly, you.
						<p>⊹ ⊹ ⊹ ⊹ ⊹ ⊹ ⊹ ⊹ 
					<p> Thank you.

				</div>
			</div>
			<!-- Credits -->
			<a type="button" class="close-overlay">Close [ESC]</a>
		</div>
</section>





