<!-- <button type="button" class="open-overlay">OPEN LAYER</button> -->

<section class="overlay" aria-hidden="true" tabindex="-1">
	<div>
		<!-- Credits -->
		<div class="outer-wrapper"  >
			<div class="wrapper">
				<div class="person_name">

					<h4>Founding Team</h4>
					<p> Medii ⊹ Speculations

					<h4>Dev Team Lead</h4>
					<p> Medii

					<h4>3D Environment Design</h4>
					<p> Miko ⊹ Wispy ⊹ Artsy

					<h4>3D Asset Design</h4>
					<p> moot ⊹ Khloe ⊹ Artsy

					<h4>Scripters/coders</h4>
					<p> vroku ⊹ Lavy ⊹ Tap ⊹ Flakedlotus ⊹ Fives

					<h4>Creative Director</h4>
					<p> meowmilk.

					<h4>Art Director</h4>
					<p> Propaganda

					<h4>Senior Designers</h4>
					<p> Miko ⊹ Juuoto ⊹ Soap ⊹ Feather

					<h4>Marketing Manager</h4>
					<p> Yuki

					<h4>Instagram Manager</h4>
					<p> Cheebzy

					<h4>Twitch Manager</h4>
					<p> Flakedlotus

					<h4>Youtube Manager</h4>
					<p> Medii

					<h4>Twitter Engagement/Events Manager</h4>
					<p> Figolo

					<h4>Operations</h4>
					<p> Shuubie ⊹ Medii ⊹ Soap ⊹ Feather ⊹ Yuki ⊹ Juuoto ⊹ Figolo ⊹ Speculations ⊹ JDJ ⊹ Hopeofhell ⊹
						StampedinTurtl

					<h4>Booking</h4>
					<p> Enderstick (EU) ⊹ Feather (JP) ⊹ Miki (SA)

<h4>Site made with 🤍 by</h4>
<p>meowmilk. ⊹ wasntcat

						<h4>Special Thanks</h4>
						<p> catmelt ⊹ unrealjourneys



							<br><br>
				<br><br>
					<p> And most importantly, you.
						<p>⊹ ⊹ ⊹ ⊹ ⊹ ⊹ ⊹ ⊹ 
					<p> Thank you.

				</div>
			</div>
			<!-- Credits -->
			<a type="button" class="close-overlay">Close [ESC]</a>
		</div>
</section>





<script>
	var body = document.body,
		overlay = document.querySelector('.overlay'),
		overlayBtts = document.querySelectorAll('a[class$="overlay"]'),
		openingBtt;

	[].forEach.call(overlayBtts, function (btt) {

		btt.addEventListener('click', function () {

			/* Detect the button class name */
			var overlayOpen = this.className === 'open-overlay';

			/* storing a reference to the opening button */
			if (overlayOpen) {
				openingBtt = this;
			}

			/* Toggle the aria-hidden state on the overlay and the 
			   no-scroll class on the body */
			overlay.setAttribute('aria-hidden', !overlayOpen);
			body.classList.toggle('noscroll', overlayOpen);

			/* On some mobile browser when the overlay was previously
			   opened and scrolled, if you open it again it doesn't 
			   reset its scrollTop property */
			overlay.scrollTop = 0;

			/* forcing focus for Assistive technologies but note:
		  - if your modal has just a phrase and a button move the
			focus on the button
		  - if your modal has a long text inside (e.g. a privacy
			statement) move the focus on the first heading inside 
			the modal
		  - otherwise just focus the modal.
  
		  When you close the overlay restore the focus on the 
		  button that opened the modal.
		*/
			if (overlayOpen) {
				overlay.focus();
			}
			else {
				openingBtt.focus();
				openingBtt = null;
			}

		}, false);

	});


	document.body.addEventListener('keyup', (ev) => {
		if (ev.key === "Escape" &&
			overlay.getAttribute('aria-hidden') === 'false') {
			overlay.setAttribute('aria-hidden', 'true');
			body.classList.toggle('noscroll', false);
			openingBtt.focus();
			openingBtt = null;
		}
	})
</script>