$backgroundColor: #161616;
$bodyColor: #e8e8e8;
$bodyFont: -apple-system, BlinkMacSystemFont, "Segoe UI", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
$mobile: 576px;

body {
  background: $backgroundColor;
  color: $bodyColor;
  font-family: $bodyFont;

}

* {
  box-sizing: border-box;
}

html,
body {
  height: 100vh;
  margin: 0;
  padding: 0;
}



p {
  font-family: 'Cirka';
  font-size: 18px;
  text-transform: uppercase;

}