body {
  line-height: normal;
  margin: 0;
  background: #101010;
  // background: url($baseurl + "/assets/uploads/Pngs/MainSiteBG.png");
  // background-size: cover;
  // background-repeat: no-repeat;
  // background-position: top;
}

html {
  scroll-behavior: smooth;
}

:root {
  --br-481xl: 500px;
  --color-gray-100: #7f7f7f;
  --color-gray-200: #0003;
  --color-gray-300: #fff3;
  --color-lightgray: #cdd0cf;
  --color-white: #fff;
  --font-open-sans: "Open Sans";
  --font-pp-neue-machina: "PP Neue Machina";
  --font-size-12: 12px;
   --font-size-16: 16px;
   --font-size-20: 20px;
   --font-size-24: 24px;
   --font-size-32: 32px;
   --font-size-48: 48px;
  --gap-32px: 32px;
  --gap-40px: 40px;
  --gap-8px: 8px;
  --gap-16px: 16px;
  --gap-xl: 20px;
  --padding-32px: 32px;
  --padding-42px: 42px;
  --padding-64px: 64px;
  --padding-9px: 9px;
  --padding-24px: 24px;
  --padding-27px: 27px;
  --padding-4px: 4px;
  --padding-14px: 14px;
  --padding-20px: 20px;
  --padding-12px: 12px;
  --padding-16px: 16px;

}

$media-screen-lg: 1200px;
$media-screen-md: 800px;
$media-screen-sm: 600px;

::-webkit-scrollbar {
  width: 4px;
  background-color: #1f1f1f;
}
::-webkit-scrollbar-thumb {
  background-color: #7f7f7f;
  border-radius: 5px;
  transition: background-color 0.3s ease;
}

::-webkit-scrollbar-thumb:hover {
  background-color: white;
  border-radius: 5px;
  transition: background-color 0.3s ease;
}

::selection {
  background: #00ffa3
}

::-moz-selection {
  background: #00ffa3
}



/* unvisited link */
a:link {
  font-size: 14px;
  color: var(--color-lightgray);
  text-decoration: none;
}

/* visited link */
a:visited {
  color: var(--color-lightgray);
}

/* mouse over link */
a:hover {
  text-decoration: underline;
}

/* selected link */
a:active {
  color: var(--color-lightgray);
}

