// buttons

a.btn-primary {
  position: relative;
  font-size: var(--font-size-14);
  line-height: 100%;
  text-transform: uppercase;
  font-family: var(--font-pp-neue-machina);
  color: #000;
  text-align: left;
  border: none;
  padding: var(--padding-14px) 10px var(--padding-12px);
  background-color: #00ffa3;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  white-space: nowrap
}

a.btn-primary:hover {
  background-color: #00cc70
}


a.btn-secondary {
  position: relative;
  font-size: var( --font-size-14);
  line-height: 100%;
  text-transform: uppercase;
  font-family: var(--font-pp-neue-machina);
  color: var(--color-white);
  text-align: left;
  cursor: pointer;
  border: 1px solid #ffffff50;
  padding: var(--padding-14px) var(--padding-9px) var(--padding-12px);
  background-color: transparent;
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center
}

a.btn-secondary:hover {
  background-color: #ffffff10;
  border: 1px solid var(--color-white);
}




//   FOOTER
.footerclubicons {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
    gap: 4px;
    mix-blend-mode: normal
  
  }
  
  .footerclubicons img {
    height: 24px;
  }

  .footer-nav {
display: flex;
flex-wrap: wrap;
    color: var(--color-white);
font-size: var(--font-size-14);
line-height: 100%;
text-transform: uppercase;
font-family: var(--font-pp-neue-machina);
gap: var(--gap-8px);
  }
  
  .footer-nav a{

cursor: pointer;
  }
  

  

  
  
  .footercontanoir {
    align-self: stretch;
    overflow: hidden;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    row-gap: 20px;
    max-width: 100%
  }
  
  footer {
    width: 100%;
    margin: 0 !important;
    position: relative;
    right: 0;
    left: 0;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    padding: var(--padding-64px);
    box-sizing: border-box;
    max-width: 100%
  }


  
@media screen and (max-width: $media-screen-sm) {
  footer {

    padding: var(--padding-16px);
    padding-top: 64px;
padding-bottom: 32px;
  }
  
}
  