@font-face {
  font-family: 'PP Neue Machina';
  src: url('../fonts/PPNeueMachina-PlainRegular.otf') format('opentype');
  font-weight: 400;
}

h1 {
  font-size: 48px;
  font-family: var(--font-pp-neue-machina);
  font-weight: 400;
  color: var(--color-lightgray);

  margin: 0;
}

h1.take-refuge {
  font-size: 8.4vw;
  font-family: var(--font-pp-neue-machina);
  font-weight: 400;
  color: var(--color-lightgray);
  text-transform: uppercase;
  margin: 0;
}

h2 {
  font-size: var(--font-size-32);
  font-family: var(--font-pp-neue-machina);
  font-weight: 400;
  color: var(--color-lightgray);

  margin: 0;
}

h3 {
  font-size: var(--font-size-24);
  font-family: var(--font-pp-neue-machina);
  font-weight: 400;
  color: var(--color-lightgray);

  margin: 0;
}

h4 {
  font-size: var(--font-size-16);
  font-family: var(--font-pp-neue-machina);
  font-weight: 400;
  color: var(--color-lightgray);
  text-transform: uppercase;
  margin: 0;
}

p {
  font-size: var(--font-size-16);
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 400;
  line-height: 135%;
  color: var(--color-lightgray);
  margin: 0;
}

p.lg {
  font-size: var(--font-size-24);
  color: var(--color-lightgray);
  margin: 0;
  margin-bottom: 24px; /* between paragraphs */
}

p.lg a:link {
  font-size: var(--font-size-24);
  color: var(--color-lightgray);
  margin: 0;
  margin-bottom: 24px; /* between paragraphs */
  text-decoration: underline;
}

p.lg a:link:hover {

  text-decoration: none;
}


/* unvisited link */
a:link {
  color: var(--color-lightgray);
  text-decoration: none;
}

/* visited link */
a:visited {
  color: var(--color-lightgray);
}

/* mouse over link */
a:hover {
  text-decoration: underline;
}

/* selected link */
a:active {
  color: var(--color-lightgray);
}