.hello {
    position: absolute;
    display: flex;
    min-height: 100vh;  
  }
  
  .container-left {
    flex: 1 1 100%;
    min-height: 100vh;
    padding: 48px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  
  }
  
  .container-right {
    flex: 1 1 100%; 
    height: 100vh;
    padding: 48px;
  }