.nav {
    display: flex;
    justify-content: space-between;

    a {
        font-family: 'Cirka';
        font-size: 18px;
        text-decoration: none;
        text-transform: uppercase;
        color: $bodyColor;
        margin-top: 6px;
    }
img{
    width: 32px;
}
}

.nav a:hover {
    text-decoration: underline;
}