// .wrapper {
//     display: grid;
//     place-items: left;
// }



// .typing {
//     white-space: nowrap;
//     overflow: hidden;
//     border-right: 3px solid;
//     font-family: var(--font-pp-neue-machina);
//     font-size: var( --font-size-16);
//     color: var(--color-lightgray);
//     text-align: left;


// }

// #type-x {
//     width: 8ch;
//     animation: typing 1s steps(22), blink .5s step-end infinite alternate;
//     animation-fill-mode: both;
//     margin: 0;
//     padding: 0;
// }

// #type-y {
//     width: 7ch;
//     animation: typing 1s steps(22), blink .5s step-end infinite alternate;
//     animation-delay: 1s;
//     animation-fill-mode: both;
//     margin: 0;
//     padding: 0;
// }

// #type-print {
//     width: 34ch;
//     animation: typing 3s steps(22), blink .5s step-end infinite alternate;
//     animation-delay: 2s;
//     animation-fill-mode: both;
// }


// @keyframes typing {
//     from {
//         width: 0
//     }
// }

// @keyframes blink {
//     50% {
//         border-color: transparent
//     }
// }











.coder {
    display: grid;
    grid-template-columns: 1fr 1fr;
    width: 100%;
    overflow: visible;

}

.codertxt {
    display: grid;
    grid-template-columns: 1fr 1fr;
    max-width: 100%;
    min-width: 100%;
    mix-blend-mode: hard-light;
    font-family: var(--font-pp-neue-machina);
    font-size: var(--font-size-16);
    color: #ffa692;

}

.codertxt-l {
    width: 100%;
}

.codertxt-r {
    width: 100%;
 
}

.output-sys {
    display: grid;
    grid-template-columns: 1fr 1fr;

}

.output-user {
    display: grid;

}

//   the dual up
.user-container {
    display: flex;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}

.print-user {
    // display: inline-block;
    // text-overflow: ellipsis;
    // width: 100%;
    // white-space: nowrap;
    // overflow: hidden;
}

.coder-container {
    align-self: stretch;
    display: grid;
    width: 100%;
}


.squaobj {

    display: flex;
    flex: 1;
    flex-direction: row;
    align-items: flex-end;
    justify-content: flex-end;
    width: 100%;
  }
  
  .component-1 {
    width: 80px;
    height: 80px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: var(--padding-4px);
    box-sizing: border-box;
    gap: 0;
    row-gap: 20px
  }



@media screen and (max-width: $media-screen-sm) {
    .coder {
        grid-template-columns: 1fr;
    }
    .codertxt {
        display: none;
    }


  }