<html lang=" en-US">

<head>
  <meta name="viewport" content="initial-scale=1, width=device-width" />
  <meta charset="utf-8">
  <title></title>
  <title>{{ site.title }}</title>
  <link rel="stylesheet" href="{{ '/assets/css/main.css' | relative_url }}">
  <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Open Sans:wght@400;700&display=swap" />
</head>

<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/zepto/1.2.0/zepto.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.ripples/0.5.3/jquery.ripples.js"></script>



<div class="bg"></div>
<div class="cursor-dot-outline"></div>
<div class="cursor-dot"></div>
<!-- ⊹⊹⊹⊹⊹⊹⊹⊹⊹⊹⊹⊹⊹⊹⊹⊹⊹⊹⊹⊹⊹⊹⊹⊹ -->
<!-- why r u looking up my skirt o.o -->
<!-- ⊹⊹⊹⊹⊹⊹⊹⊹⊹⊹⊹⊹⊹⊹⊹⊹⊹⊹⊹⊹⊹⊹⊹⊹ -->
<body>
  
    <div class="herosection" id="parallax">
      <div class="nav-container">
        <nav>
          <a href="{{site.baseurl}}">Main</a> ⊹ <a href="#abinternal">About</a> ⊹ <a href="#msinternal">Mission</a> ⊹ <a
            href="#hwinternal">Take Refuge</a> ⊹ <a class="open-overlay">Credits</a>
        </nav>
        <!-- <div class="fancyobj">
                    <img class="glass002-icon" loading="eager" alt="" src="{{site.baseurl}}/assets/uploads/Pngs/GlassObj.png" />
                </div> -->
      </div>
      <div class="logo-container">
        <div class="refuge-logo">

          <img class="rletter-icon" src="{{site.baseurl}}/assets/uploads/SVGS/refuge-logo-letters/logo-letter-r.svg" />


          <img class="eletter-icon" src="{{site.baseurl}}/assets/uploads/SVGS/refuge-logo-letters/logo-letter-e.svg" />


          <img class="fletter-icon" src="{{site.baseurl}}/assets/uploads/SVGS/refuge-logo-letters/logo-letter-f.svg" />


          <img class="uletter-icon" src="{{site.baseurl}}/assets/uploads/SVGS/refuge-logo-letters/logo-letter-u.svg" />


          <img class="gletter-icon" src="{{site.baseurl}}/assets/uploads/SVGS/refuge-logo-letters/logo-letter-g.svg" />


          <img class="eletter-icon1" src="{{site.baseurl}}/assets/uploads/SVGS/refuge-logo-letters/logo-letter-e.svg" />

        </div>
      </div>
      <div class="coder-container">
        <div class="coder">
          <!-- <div class="wrapper-glass001">
                        <img class="glass001-icon" loading="eager" alt="" src="{{site.baseurl}}/assets/uploads/Pngs/GlassObj.png" />
                    </div> -->
          <div class="codertxt">
            <!-- <div class="uppertxt">
              <div class="input">[input]</div>
              <div class="sextxt">
                <div class="output">[output]</div>
              </div>
            </div>
            <div class="lowertxt">
              <div class="x-take-container">
                <div class="wrapper">
                  <p class="typing" id="type-x">x = take</p>
                </div>
                <div class="wrapper">
                  <p class="typing" id="type-y">y = refuge</p>
                </div>
              </div>
              <div class="outputtxt">
---
                <div class="wrapper">
                  <div class="typing" id="type-print">
                    print('The value of x is {} and y is {}'.format(x,y))
                  </div>
                </div>
---
              </div>
            </div> -->



            <div class="codertxt-l">
              <div class="input-sys">
                [input]
              </div>
              <br>
              <div class="input-user">

                <div class="user-container">x= <div id="x-user"></div>
                </div>
                <div class="user-container">y= <div id="y-user"></div>
                </div> <br>
              </div>
            </div>
            <div class="codertxt-r">
              <div class="output-sys">
                [output]
              </div>
              <br>
              <div class="output-user">
                <div class="user-container">
                  print =
                  <div id="print-user"></div>
                </div>
                <!-- print('The value of x is {} and y is {}'.format(x,y)) -->
              </div>
            </div>

          </div>






          <div class="squaobj">
            <a class="component-1" href="#abinternal">
              {% include stupidlyoverengineeredbtn.html %}


            </a>
          </div>
        </div>
      </div>
    </div>
    <div class="aboutus">

      <iframe width="100%" height="120"
        src="https://player-widget.mixcloud.com/widget/iframe/?hide_cover=1&feed=%2FPorterRobinson%2Fzeddian-robinson-valentine-day-mix%2F"
        frameborder="0"></iframe>
      <section class="module001" id="abinternal">
        <div class="module001-text-container">
          <h4>⊹ About</h4>
          <p class="lg"> We are an inclusive community that fosters a
            judgment-free environment in both our virtual and physical worlds. Our community welcomes individuals from
            all walks of life — including
            those who may feel like misfits or outcasts — and provides a safe haven where members can find
            peace, love, kindness, freedom, support, sympathy, empathy, mentorship, and friendship. </p>
        </div>
        <img class="vrcdjss-icon" loading="eager" alt="" src="{{site.baseurl}}/assets/uploads/Pngs/VrcpepSS.png" />
      </section>
      <section class="module001" id="msinternal">
        <div class="module001-text-container">
          <h4>⊹ Mission</h4>
          <div class="module-stacker">
            <p class="lg"> Our mission is to create a safe space for diverse forms of creative expression across music,
              art,
              media, gaming, dancing, and communication. We embrace diversity and celebrate both the
              familiar and unfamiliar, the light and dark, the joyous and sorrowful. </p>
            
            <p class="lg"> We hope our space can alleviate anxiety and provide a sense of belonging. We
              are committed to our community and will devote our time and resources to ensure that
              everyone feels welcomed and valued. </p>
          </div>
        </div>
        <img class="vrcpepss-icon" loading="eager" alt="" src="{{site.baseurl}}/assets/uploads/Pngs/VrdjSS.png" />
      </section>
      <section class="module001" id="hwinternal">

       


        <div class="module-stacker">
          {% include ticker.html %}
          <div class="module001-text-container">
            <div></div>
            <div>

            <div>
            <p class="lg">If you aren't yet aquainted with VRChat refer to <a
                href="https://medium.com/vrchat/stuck-inside-a-quick-guide-for-using-vrchat-to-stay-connected-f71430cf8a11">this
                article</a> to get started.</p>
              <p class="lg">If you are already setup, skip this step and follow the links below to become a refugee.
            </p>
          </div>

            <div class="hwjoinables">
              <button class="component-2">
                <div class="primary">Join discord</div>
              </button>
              <button class="component-3">
                <div class="secondary">Join group</div>
              </button>
            </div>
          </div>
          </div>
        </div>
      </section>



      <section class="module002" id="cuinternal">

      </section>

    </div>
    <footer>
      <div class="footercontanoir">
        <div class="footericonsholder">
          <div class="footerclubicons">

            <img class="rletter-icon"
              src="{{site.baseurl}}/assets/uploads/SVGS/refuge-logo-letters/logo-letter-r.svg" />


            <img class="eletter-icon"
              src="{{site.baseurl}}/assets/uploads/SVGS/refuge-logo-letters/logo-letter-e.svg" />


            <img class="fletter-icon"
              src="{{site.baseurl}}/assets/uploads/SVGS/refuge-logo-letters/logo-letter-f.svg" />


            <img class="uletter-icon"
              src="{{site.baseurl}}/assets/uploads/SVGS/refuge-logo-letters/logo-letter-u.svg" />


            <img class="gletter-icon"
              src="{{site.baseurl}}/assets/uploads/SVGS/refuge-logo-letters/logo-letter-g.svg" />


            <img class="eletter-icon1"
              src="{{site.baseurl}}/assets/uploads/SVGS/refuge-logo-letters/logo-letter-e.svg" />


          </div>
        </div>
        <div class="footersocialsicon">
          <img class="catwasnthere-icon1" title="discord: @wasntcat" alt=""
            src="{{site.baseurl}}/assets/uploads/Extra/Catwasnthere.gif" />
          <div class="footersocialicons">
            <img class="social-icons" alt="" src="./RSC/SVGS/social-icons.svg" />
            <img class="social-icons1" alt="" src="./RSC/SVGS/social-icons-1.svg" />
            <img class="social-icons2" alt="" src="./RSC/SVGS/social-icons-2.svg" />
            <img class="social-icons3" alt="" src="./RSC/SVGS/social-icons-3.svg" />
            <img class="social-icons4" alt="" src="./RSC/SVGS/social-icons-4.svg" />
            <img class="social-icons5" alt="" src="./RSC/SVGS/social-icons-5.svg" />
          </div>
        </div>
      </div>
    </footer>
  
</body>

</html>

<script>
  const parallax = document.getElementById("parallax");

  window.addEventListener("scroll", function () {
    let offset = window.pageYOffset;
    parallax.style.backgroundPositionY = offset * 0.7 + "px";
  });
</script>

{% include typing_anim.html %}
{% include cursor.html %}
{% include overlay.html %}


<script>
  $('.herosection').ripples({
    resolution: 1024,
    dropRadius: 75,
    perturbance: .002,
  });
</script>





