<head>
  <meta name="viewport" content="initial-scale=1, width=device-width" />
  <meta charset="utf-8">
  <meta name="description" content="Far Fr(o)m Home [?]">

  <title>{{ site.title }}</title>
  <link rel="stylesheet" href="{{ '/assets/css/main.css' | relative_url }}">
  <link rel="icon" type="image/x-icon" href="{{ '/assets/favicon/favicon.ico' | relative_url }}">

</head>

<script src="{{ '/assets/js/jquery-min.js' | relative_url }}"></script>
<script src="{{ '/assets/js/main.js' | relative_url }}"></script>
<script src="{{ '/assets/js/worker.js' | relative_url }}"></script>

<div class="bg"></div>

<!-- ⊹⊹⊹⊹⊹⊹⊹⊹⊹⊹⊹⊹⊹⊹⊹⊹⊹⊹⊹⊹⊹⊹⊹⊹ -->
<!-- why r u looking up my skirt o.o -->
<!-- ⊹⊹⊹⊹⊹⊹⊹⊹⊹⊹⊹⊹⊹⊹⊹⊹⊹⊹⊹⊹⊹⊹⊹⊹ -->
<html lang="en">
<body onmousemove="coordinate(event)">



  <div class="herosection" id="parallax">
    <div class="nav-container">
      <nav>
        <a onclick="openNav()">Main</a>
        ⊹
        <a href="#abinternal">About</a>
        ⊹
        <a href="#msinternal">Mission</a>
        ⊹
        <a href="#hwinternal">Take Refuge</a>
        ⊹
        <a href="https://refugevr.store/" target="_blank" onclick="closeNav()">Merch</a>
        ⊹
        <a href="https://ko-fi.com/refugevr" target="_blank" onclick="closeNav()">Ko-Fi</a>
        ⊹
        <a class="open-overlay">Credits</a>
      </nav>
      <!-- GLASS -->
    </div>
    <div class="logo-container">
      <div class="refuge-logo">

        <img class="rletter-icon" alt="r" src="{{site.baseurl}}/assets/uploads/SVGS/refuge-logo-letters/logo-letter-r.svg" />


        <img class="eletter-icon" alt="e" src="{{site.baseurl}}/assets/uploads/SVGS/refuge-logo-letters/logo-letter-e.svg" />


        <img class="fletter-icon" alt="f" src="{{site.baseurl}}/assets/uploads/SVGS/refuge-logo-letters/logo-letter-f.svg" />


        <img class="uletter-icon" alt="u" src="{{site.baseurl}}/assets/uploads/SVGS/refuge-logo-letters/logo-letter-u.svg" />


        <img class="gletter-icon" alt="g" src="{{site.baseurl}}/assets/uploads/SVGS/refuge-logo-letters/logo-letter-g.svg" />


        <img class="eletter-icon1" alt="e" src="{{site.baseurl}}/assets/uploads/SVGS/refuge-logo-letters/logo-letter-e.svg" />

      </div>
    </div>
    <div class="coder-container">
      <div class="coder">
        <!-- GLASS -->
        <div class="codertxt">



          <div class="codertxt-l">
            <div class="input-sys">
              [coordinates]
            </div>
            <br>
            x= 0.<input type="text" id="X">
            <br>
            y= 0.<input type="text" id="Y">
          </div>
          <div class="codertxt-r">
            <div class="output-sys">
              [ripples: enabled]
            </div>
            <div class="output-sys-disabled">
              [ripples: paused]
            </div>

            <div class="output-sys-destroyed">
              [ripples: destroyed]
            </div>
            <br>

            <div class="inputs-destroyed">
              <a class="js-ripples-pause" type="button">
                > pause
              </a>

              <a class="js-ripples-play" type="button">
                > enable
              </a>
              <br>

            </div>
            <a class="js-ripples-disable disable">
              > destroy (use less resources)
            </a>

            <div class="js-ripples-refresh disable">
              C:\Users\refuge\ripples.js error<br><a onClick="refreshPage()">page refresh required</a>
            </div>



          </div>

        </div>






        <div class="squaobj">
          <a class="component-1" href="#abinternal" aria-label="Page Down">
            {% include stupidlyoverengineeredbtn.html %}


          </a>
        </div>
      </div>
    </div>
  </div>
  <div class="aboutus">

    <iframe title="Mixcloud Widget" width="100%" height="120"
      src="https://player-widget.mixcloud.com/widget/iframe/?hide_cover=1&feed=%2FRefugeVR%2Fmedii-weekly-wednesday-house-055%2F"
      frameborder="0"></iframe>



    <section class="module001" id="abinternal">
      <div class="module001-text-container">
        <h4>⊹ About</h4>
        <p class="lg"> Drift into the lulling pulse of our parallel universe, where synths echo against concrete
          walls, and dimly lit paths open doors to a new brand of immersion. We are Refuge, tucked away in the
          labyrinthine depths of virtual reality, where even the misfits and outcasts can find safe haven in the
          welcoming arms of their new community. </p>
      </div>
      <img class="vrcdjss-icon" loading="eager" alt="" src="{{site.baseurl}}/assets/uploads/AVIFs/VrcpepSS.avif" />
    </section>
    <section class="module001" id="msinternal">
      <div class="module001-text-container">
        <h4>⊹ Mission</h4>
        <div class="module-stacker">
          <p class="lg"> Our mission is to create a safe space for diverse forms of creative expression across music,
            art,
            media, gaming, dancing, and communication. We embrace diversity and celebrate both the
            familiar and unfamiliar, the light and dark, the joyous and sorrowful. </p>

          <p class="lg"> We hope our space can alleviate anxiety and provide a sense of belonging. We
            are committed to our community and will devote our time and resources to ensure that
            everyone feels welcomed and valued. </p>
        </div>
      </div>
      <img class="vrcpepss-icon" loading="eager" alt="" src="{{site.baseurl}}/assets/uploads/AVIFs/VrdjSS.avif" />
    </section>
    <section class="module001" id="hwinternal">




      <div class="module-stacker">
        {% include ticker.html %}
        <div class="module001-text-container">
          <div></div>
          <div>

            <div>
              <p class="lg">If you aren't yet aquainted with VRChat refer to <a
                  href="https://medium.com/vrchat/stuck-inside-a-quick-guide-for-using-vrchat-to-stay-connected-f71430cf8a11"
                  target="_blank">this
                  article</a> to get started.</p>
              <p class="lg">If you are already setup, skip this step and follow the links below to become a refugee.
              </p>
            </div>

            <div class="hwjoinables">
              <a class="btn-primary" target="_blank" href="https://discord.gg/refugevr">
                Join discord
              </a>
              <a class="btn-secondary" target="_blank" href="https://vrc.group/REFUGE.2009">
                Join group
              </a>
            </div>
          </div>
        </div>
      </div>
    </section>



  </div>
  <footer>
    <div class="footercontanoir">
      <div class="footericonsholder">
        <div class="footerclubicons" alt="refuge">

          <img class="rletter-icon" alt="r"
            src="{{site.baseurl}}/assets/uploads/SVGS/refuge-logo-letters/logo-letter-r.svg" />


          <img class="eletter-icon" alt="e"
            src="{{site.baseurl}}/assets/uploads/SVGS/refuge-logo-letters/logo-letter-e.svg" />


          <img class="fletter-icon" alt="f"
            src="{{site.baseurl}}/assets/uploads/SVGS/refuge-logo-letters/logo-letter-f.svg" />


          <img class="uletter-icon" alt="u"
            src="{{site.baseurl}}/assets/uploads/SVGS/refuge-logo-letters/logo-letter-u.svg" />


          <img class="gletter-icon" alt="g"
            src="{{site.baseurl}}/assets/uploads/SVGS/refuge-logo-letters/logo-letter-g.svg" />


          <img class="eletter-icon1" alt="e"
            src="{{site.baseurl}}/assets/uploads/SVGS/refuge-logo-letters/logo-letter-e.svg" />


        </div>
      </div>
      <div class="footer-nav">
        <a href="https://discord.gg/refugevr" target="_blank">Discord</a> ⊹ <a
          href="https://www.instagram.com/refuge_vr/" target="_blank">Insta</a> ⊹ <a
          href="https://twitter.com/refuge_vr" target="_blank">X</a> ⊹ <a href="https://www.twitch.tv/refugevr"
          target="_blank">Twitch</a> ⊹ <a href="https://www.youtube.com/@RefugeVR" target="_blank">Youtube</a> ⊹ <a
          href="https://www.tiktok.com/@refugevr" target="_blank">Tiktok</a>

        ⊹ <a href="https://soundcloud.com/refugevr" target="_blank">Soundcloud</a> ⊹ <a
          href="https://www.mixcloud.com/RefugeVR/" target="_blank">Mixcloud</a>

      </div>

    </div>
  </footer>

</body>

</html>



{% include overlay.html %}
{% include overlay-mobile-nav.html %}




<script>
  function refreshPage() {
    window.location.reload();
  } 
</script>




<!-- COORDINATES -->
<script>
  function coordinate(event) {
    let x = event.clientX;
    let y = event.clientY;
    document.getElementById("X").value = x;
    document.getElementById("Y").value = y;
  }
</script>